<div class="homeContainer">
  <div class="controlsContainer">

    <div class="addTask">
      <button (click)="addTask()" mat-mini-fab color="primary">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <div class="views">
      <button 
      [color]="viewMode === 'short'?'primary':'none'"
      (click)="toggleView('short')" mat-icon-button >
        <mat-icon>short_text</mat-icon>
      </button>
      <button (click)="toggleView('long')"
      [color]="viewMode === 'long'?'primary':'none'"
      mat-icon-button >
        <mat-icon>subject</mat-icon>
      </button>
    </div>

  </div>

  <simproman-main-board></simproman-main-board>
</div>