<div class="homeContainer">
  <div class="controlsContainer">

    <div class="addTask">
      <button (click)="addTask()" mat-mini-fab color="primary">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <div class="views">
      <button  *ngIf="viewMode !== 'short';else long"
        (click)="toggleView('short')" mat-icon-button>
        <mat-icon>short_text</mat-icon>
      </button>
      <ng-template #long>
        <button (click)="toggleView('long')" mat-icon-button>
          <mat-icon>subject</mat-icon>
        </button>
      </ng-template>

    </div>

  </div>

  <simproman-main-board></simproman-main-board>
</div>