<div class="sideMenuContainer">
    <div class="simpromanLogo">
        <img src="../../../../assets/logo/simpromanLogo.png"/>
        <div class="logoText" >  
            <span class="sim"> Sim</span><span class="pro" >Pro</span><span class="man" >Man</span>
        </div>
    </div>
    <div class="sideMenuItems">
        <div class="item active">
            <div class="itemName">
                My Board
            </div>
            <div class="remaining">
                4
            </div>
        </div>
        <div class="item">
            <div class="itemName">
                Team Board
            </div>
            <div class="remaining">
                4
            </div>
        </div>
        <div class="item">
            <div class="itemName">
                Projects
            </div>
            <div class="remaining">
                4
            </div>
        </div>
        <div class="item">
            <div class="itemName">
                Analytics
            </div>
            
        </div>

    </div>
</div>