.appContainer{
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: auto;
}

app-sidemenu{
    width: 15%;
    min-width: 150px;
    height: 100vh;
}
.innerContainer{
    width: 85%;
    height: 100%;
}
app-header{
    width: 100%;
    // max-height: 50px;
}
.rOutlet{
    max-height: calc(100% - 50px);
    min-height: calc(100% - 50px);
    overflow: auto;
    background-color: #F7F8FB;
    border-top-left-radius: 30px;
    box-shadow: inset 0px 0px 10px 1px darkgrey;


}