.modal{
    width: 300px;
    .modal-header{
        padding-bottom:15px;
        font-size: 18px;
        color: cornflowerblue;
    }
    .dTime{
        display: flex;
        align-items: center;
        height: 40px;
        .mat-checkbox{
            padding-right: 20px;
        }
    }

    .timeDuration{
        display: flex;
        align-items: center;
        height: 40px;

        .durationContainer{
            display: flex;
            align-items: center;

            .mat-slider{
                position: relative;
                top: -5px;
            }
        }
        .timeUnit{
            padding: 7px;
            select{
                padding: 5px;
                border-radius: 5px;
                outline: none;
            }
        }
        .timeInput{
            width: 40px;
            border:1px solid darkgrey;
            border-radius: 5px;
            padding:5px 1px;

        }
    }
   
   
    .subTasksContainer{
        max-height: 130px;
        overflow-y: auto;
  

    .subTask
    {
         input{
         border: 0px;
         border-bottom: 1px solid cornflowerblue;
         width: 195px;
         padding-left: 10px;
         padding-bottom: 5px;
         &:focus{
             border-bottom: 2px solid  cornflowerblue;
         }
        }
    }
}


    .actions{
        display: flex;
        flex-direction: row-reverse;
        padding-top: 10px;
    }


}

// MATERIAL OVERRIDES

.mat-form-field{
    width: 100%;
    font-size: 14px;
}
.mat-radio-button{
    margin-right: 5px;
    margin-bottom: 15px;
}

.mat-expansion-panel-header{
    font-size: 14px;
}

.mat-slider{
    padding:0px;
    height: 35px;
}
.mat-slider-horizontal{
    min-width: 115px;
}




