<div class="modal">
    <div class="modal-header">
        Add Task
    </div>
    <div class="modal-body">
        <form [formGroup]="addTaskForm">
            <mat-form-field appearance="outline">
                <mat-label>Name</mat-label>
                <input formControlName="name" autocomplete="off" matInput placeholder="Get To work">
            </mat-form-field>
            <div class="dTime">
                <mat-checkbox formControlName="isDate" color="primary">Date</mat-checkbox>
                <mat-form-field *ngIf="addTaskForm.get('isDate').value">
                    <input formControlName="date" matInput [matDatepicker]="picker" placeholder="Due Date">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="timeDuration">
                <mat-checkbox formControlName="isDuration" color="primary">Duration</mat-checkbox>
                <div class="durationContainer" *ngIf="addTaskForm.get('isDuration').value">
                    <div class="timeUnit">
                        <select formControlName="durationUnit">
                            <option *ngFor="let timeUnit of timeUnits" [value]="timeUnit">{{timeUnit}} </option>
                        </select>
                    </div>
                    <mat-slider color="primary" step="0.5" max="24" thumbLabel="true"></mat-slider>
                    <input class="timeInput">

                </div>

            </div>

            <mat-form-field appearance="outline">
                <mat-label>Description</mat-label>
                <input formControlName="description" autocomplete="off" matInput placeholder="Get To work">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Priority</mat-label>
                <mat-select formControlName="priority">
                    <mat-option value="high">High</mat-option>
                    <mat-option value="medium">Medium</mat-option>
                    <mat-option value="low">Low</mat-option>
                    <mat-option value="roadmap">RoadMap</mat-option>
                </mat-select>
            </mat-form-field>

            <div class="subTasks">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Sub-Tasks
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <ng-template matExpansionPanelContent>
                        <div class="subTasksContainer">

                            <ol class="addSubTasks">
                                <li *ngFor="let subTask of subTasks,let i = index" class="subTask">
                                    <input [(ngModel)]="subTask.name" [ngModelOptions]="{standalone: true}">
                                    <button *ngIf="subTasks.length-1 === i;else delete" (click)="addSubTask()"
                                        color="primary" mat-icon-button>
                                        <mat-icon>add</mat-icon>
                                    </button>
                                    <ng-template #delete>
                                        <button (click)="deleteSubTask(i)" color="warn" mat-icon-button>
                                            <mat-icon>delete_outline</mat-icon>
                                        </button>
                                    </ng-template>
                                </li>
                            </ol>
                        </div>

                    </ng-template>
                </mat-expansion-panel>
            </div>
        </form>
    </div>
    <div class="actions">
        <button (click)="addTask()" mat-flat-button color="primary">Add</button>
        <button (click)="cancel()" mat-flat-button>Cancel</button>
    </div>
</div>