.high,.medium,.low{
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    color: white;
    font-size: 12px;
}
.high{
    background-color: #DC3545;
}
.medium{
    background-color: #FFC107;
}
.low{
background-color: #28A745;
}