<div class="container">
  <div class="side" >
    <div class="loginContainer">
      <div class="title" >Login</div>
      <form [formGroup]="loginForm" >
          <mat-form-field appearance="outline">
              <mat-label>Username</mat-label>
              <input formControlName="username"  autocomplete="off" matInput placeholder="Get To work">
          </mat-form-field>
          <mat-form-field appearance="outline">
              <mat-label>Password</mat-label>
              <input  formControlName="password" type="password" autocomplete="off" matInput placeholder="Get To work">
          </mat-form-field>
        <button (click)="login($event)"  mat-flat-button color="primary">Login</button>
          
      </form>
    </div>
  </div>
  <div class="main">
    <div class="slideContainer">
      <slideshow 
      [minHeight]="'500px'"
      [autoPlay]="false"
      [showArrows]="false"
      [showDots]="true"
      [dotColor]="'black'"
      [imageUrls]="imageUrlArray"
      >
    </slideshow>  
  </div>
  </div>
</div>